/* Tu código CSS completo aquí, incluyendo el estilo 7 */
.container-input {
    text-align: center;
    background: #282828;
    border-top: 5px solid #c39f77;
    padding: 50px 0;
    border-radius: 6px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* ... (otros estilos) ... */

/* style 7 */

.inputfile-7 + label {
    color: #c39f77;
}

.inputfile-7 + label {
    border: 1px solid #c39f77;
    font-size: 1rem;
    background-color: #fff;
    padding: 0;
}

/* ... (otros estilos del estilo 7) ... */

@media screen and (max-width: 50em) {
	.inputfile-7 + label strong {
		display: block;
	}
}
