<div name="dbaremar">
    <table name="tbaremar">
        <thead>
            <tr>
                <th>Item</th>
                <th>Fichero</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Idoneidad</td>
                <td><button>VISUALIZAR</button></td>
                <td><input type="number" name="nota"></td>
            </tr>
            <tr>
                <td>Entrevista</td>
                <td><button>VISUALIZAR</button></td>
                <td><input type="number" name="nota"></td>
            </tr>
            <tr>
                <td>Idiomas</td>
                <td><button>VISUALIZAR</button></td>
                <td><input type="number" name="nota"></td>
            </tr>
        </tbody>
    </table>
    <button>CONFIRMAR</button>
</div>