<head>
    <style>
        .mConvocatory {
            background-color: grey;
            color: white;
            border: 1px solid black;
            margin: 0.5em auto;
            padding: 4em 1em;
        }
    </style>
</head>


<div name="list_convocatories">
    <p>Listado de convocatorias</p>
    <div class="mConvocatory">
        <p>1</p>
        <p>España</p>
        <p>Short</p>
        <p>8</p>
    </div>
    <div class="mConvocatory">
        <p>1</p>
        <p>España</p>
        <p>Short</p>
        <p>8</p>
    </div>
    <div class="mConvocatory">
        <p>1</p>
        <p>España</p>
        <p>Short</p>
        <p>8</p>
    </div>
    <div class="mConvocatory">
        <p>1</p>
        <p>España</p>
        <p>Short</p>
        <p>8</p>
    </div>
    <div class="mConvocatory">
        <p>1</p>
        <p>España</p>
        <p>Short</p>
        <p>8</p>
    </div>
    <div class="mConvocatory">
        <p>1</p>
        <p>España</p>
        <p>Short</p>
        <p>8</p>
    </div>
    <div class="mConvocatory">
        <p>1</p>
        <p>España</p>
        <p>Short</p>
        <p>8</p>
    </div>
</div>

<div name="current_convocatory">
    <p>listados </p>
    <div>
        <form action="#" method="post">
            <label for="country">País</label>
            <input type="text" name="country" id="">
            <br>
            <label for="country">Tipo</label>
            <input type="text" name="country" id="">
            <br>
            <label for="country">Fecha inicio solicitudes</label>
            <input type="date" name="country" id="">
            <br>
            <label for="country">Fecha fin solicitudes</label>
            <input type="date" name="country" id="">
            <br>
            <button>guardar</button>
            <button>borrar</button>
        </form>
    </div>
</div>