<form name="create_item_baremable" action="#" accept-charset="utf-8" autocomplete="off" enctype="multipart/form-data" method="post" formtarget="_blank" formnovalidate="formnovalidate">
    <label for="name">Item baremable</label>
    <select name="name">
        <option value="1">Entrevista</option>
        <option value="2">Idiomas</option>
    </select>

    <label for="required">Requisito</label>
    <input type="checkbox" name="required">

    <label for="min_value">Valor mínimo</label>
    <input type="number" name="min_value">

    <label for="max_value">Valor máximo</label>
    <input type="number" name="max_value">

    <button type="button" id="btnConfirm">CONFIRMAR</button>
</form>