#create_convocatory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6em;
}
#create_convocatory * {
    font-family: Inconsolata;
    color: white;
    font-weight: bold;
}
#form_create_convocatory_title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: left;
}




/*#############################################################################################################################*/
/*################################################# FORM ELEMENTS #############################################################*/
/*#############################################################################################################################*/
/* Label */
label {
    font-size: 1em;
}
/* Select AND Input */
select, 
input {
    font-size: 100%;
    padding: 10px 15px;

    /* border: 2px solid hsl(0, 0%, 10%); */
    border: 1px solid black;
    background-color: hsl(0, 0%, 14%);
}
select {
    font-size: 0.7em;
}
input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 6px 1px #493971;
}




/*#############################################################################################################################*/
/*################################################ FORM STRUCTURE #############################################################*/
/*#############################################################################################################################*/
#form_create_convocatory {
    display: grid;
    grid-template-rows: repeat(2,2em) 1em repeat(2,2em) 1em repeat(2,2em) 1em repeat(2,2em) 1em repeat(2,2em) 1em;
    grid-template-columns: repeat(4,1fr) 1fr 4fr;
}
/* grid-area: row-start / column-start / row-end / column-end; */
/* IZQUIERDA */
label[name="class"]                 { grid-column: 1/5; grid-row: 1/2; }
select[name="class"]                { grid-column: 1/5; grid-row: 2/3; }

label[name="movilities"]            { grid-column: 1/5; grid-row: 4/5; }
input[name="movilities"]            { grid-column: 1/5; grid-row: 5/6; }

label[name="type"]                  { grid-column: 1/5; grid-row: 7/8; }
label[name="type_long"]             { grid-column: 1/5; grid-row: 8/9; }
input[value="long"]                 { grid-column: 2/3; grid-row: 8/9; }
label[name="type_short"]            { grid-column: 3/4; grid-row: 8/9; }
input[value="short"]                { grid-column: 4/5; grid-row: 8/9; }

label[name="country"]               { grid-column: 1/5; grid-row: 10/11; }
select[name="country"]              { grid-column: 1/5; grid-row: 11/12; }

label[name="item_baremable"]        { grid-column: 1/5; grid-row: 13/14; }
button[name="item_baremable"]       { grid-column: 1/5; grid-row: 14/15; }

/* DERECHA */
label[name="date_requests_start"]   { grid-column: 6; grid-row: 1/2; }
input[name="date_requests_start"]   { grid-column: 6; grid-row: 2/3; }

label[name="date_requests_end"]     { grid-column: 6; grid-row: 4/5; }
input[name="date_requests_end"]     { grid-column: 6; grid-row: 5/6; }

label[name="date_baremation"]       { grid-column: 6; grid-row: 7/8; }
input[name="date_baremation"]       { grid-column: 6; grid-row: 8/9; }

label[name="date_definitive_lists"] { grid-column: 6; grid-row: 10/11; }
input[name="date_definitive_lists"] { grid-column: 6; grid-row: 11/12; }

input[type="submit"]                { grid-area: 14 / 6 / 15 / 7; }