<!-- <div class="convocatory-container">
    <div><p name="convocatory-name"><span class="country"></span></p></div>
    <div><p name="convocatory-movilities">4 / <span class="movilities">12</span> plazas</p></div>
    <div><p name="convocatory-name">fecha fin: <span class="date_end_requests">22/12/2023</span></p></div>
    <div><p name="convocatory-group"><span class="group_name"></span></p></div>
    <a href="" class="btn-2">Solicitar</a>
     --><!-- <button>Solicitar</button> -->
<!-- </div> -->
<div class="convocatory-container">
    <div>
        <p name="convocatory-name"><span class="country"></span></p>
        <p name="convocatory-movilities">4 / <span class="movilities">12</span> plazas</p>
        <p name="convocatory-name">fecha fin: <span class="date_end_requests">22/12/2023</span></p>
        <p name="convocatory-group"><span class="group_name"></span></p>
        <a href="" class="btn-2">Solicitar</a>
    </div>
</div>