
/* 3 BOTONES SUPERIORES */
#topButton-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  #topButton-container button { grid-row: 1/2; }
  #topButton-container .inputError { grid-row: 2/3; }

/* FORMULARIO PRINCIPAL */
form>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto) 2.5em repeat(2, auto) 2.5em repeat(2, auto) 2.5em auto;
    column-gap: 1em;
}
form label, form input { grid-column: 1/3; }


/* 1º Formulario Information */
label[for="project"]    { grid-area: 1 / 1 / 2 / 2; }
select[name="project"]  { grid-area: 2 / 1 / 3 / 2; }
#projectError           { grid-area: 3 / 1 / 4 / 2; }

label[for="country"]    { grid-area: 1 / 2 / 2 / 3; }
input[name="country"]   { grid-area: 2 / 2 / 3 / 3; }
#countryError           { grid-area: 3 / 2 / 4 / 3; }

label[for="group"]      { grid-area: 4 / 1 / 5 / 2; }
select[name="group"]    { grid-area: 5 / 1 / 6 / 2; }
#groupError             { grid-area: 6 / 1 / 7 / 2; }

label[for="movilities"] { grid-area: 4 / 2 / 5 / 3; }
input[name="movilities"]{ grid-area: 5 / 2 / 6 / 3; }
#movilitiesError        { grid-area: 6 / 2 / 7 / 3; }

div[name="divType"]     { grid-area: 7 / 1 / 9 / 3;  display: flex; }
div[name="divType"] > * { margin-right: 4em;        }
#typeError              { grid-area: 9 / 1 / 10 / 3;}

#btnInformationNext     { grid-column: 1/3;         }



/* 2º Formulario Dates */
label[for="date_requests_start"]  { grid-area: 1 / 1 / 2 / 2; }
input[name="date_requests_start"] { grid-area: 2 / 1 / 3 / 2; }
#date_requests_startError         { grid-area: 3 / 1 / 4 / 2; }

label[for="date_requests_end"]  { grid-area: 1 / 2 / 2 / 3; }
input[name="date_requests_end"] { grid-area: 2 / 2 / 3 / 3; }
#date_requests_endError         { grid-area: 3 / 2 / 4 / 3; }


/* 3º Formulario Items */
table[name="items_baremables"]  { grid-area: 1 / 1 / 5 / 3; }
table[name="language_levels"]  { grid-area: 6 / 1 / 9 / 3; }

#btnItemsBefore                 { grid-area: 10 / 1 / 11 / 2; }
input[type="submit"]            { grid-area: 10 / 2 / 11 / 3; }

/* #items {
  display: flex;
  flex-direction: column;
} */