body * {
    font-family: Inconsolata;
}
/*#############################################################################################################################*/
/*################################################## STRUCTURE ################################################################*/
/*#############################################################################################################################*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#div_buttons {
    display: flex;
    justify-content: center;
    column-gap: 2em;

    margin: 2em 0em;
}
/*#############################################################################################################################*/
/*#################################################### FORM ###################################################################*/
/*#############################################################################################################################*/
#crud_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: lightgreen;
    padding: 4em;
    border: 20px solid green;
    border-radius: 20px;
}
#crud_container>p {
    font-size: 3em;
    font-weight: bold;
}

form[name="convocatory"] {
    display: flex;
    flex-direction: column;
}
form[name="convocatory"]>label{
    font-weight: bold;
}

#form_container {
    padding: 0.8em 2em 0 2em;
    margin: 1em 14em;

    background-color: lightgrey;
    border: 1px solid black;
}
#form_convocatory {
    display: grid;
    grid-template-rows: repeat(2,2em) 1em repeat(2,2em) 1em repeat(2,2em) 1em repeat(2,2em) 1em repeat(2,2em) 1em;
    grid-template-columns: repeat(4,1fr) 1fr 4fr;
}
#form_convocatory>* {
    font-size: 0.8em;
}
#form_convocatory_title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center
}

/* grid-area: row-start / column-start / row-end / column-end; */
/* IZQUIERDA */
label[name="class"]                 { grid-column: 1/5; grid-row: 1/2; }
select[name="class"]                { grid-column: 1/5; grid-row: 2/3; }

label[name="movilities"]            { grid-column: 1/5; grid-row: 4/5; }
input[name="movilities"]            { grid-column: 1/5; grid-row: 5/6; }

label[name="type"]                  { grid-column: 1/5; grid-row: 7/8; }
label[name="type_long"]             { grid-column: 1/5; grid-row: 8/9; }
input[value="long"]                 { grid-column: 2/3; grid-row: 8/9; }
label[name="type_short"]            { grid-column: 3/4; grid-row: 8/9; }
input[value="short"]                { grid-column: 4/5; grid-row: 8/9; }

label[name="country"]               { grid-column: 1/5; grid-row: 10/11; }
select[name="country"]              { grid-column: 1/5; grid-row: 11/12; }

label[name="item_baremable"]        { grid-column: 1/5; grid-row: 13/14; }
button[name="item_baremable"]       { grid-column: 1/5; grid-row: 14/15; }

/* DERECHA */
label[name="date_requests_start"]   { grid-column: 6; grid-row: 1/2; }
input[name="date_requests_start"]   { grid-column: 6; grid-row: 2/3; }

label[name="date_requests_end"]     { grid-column: 6; grid-row: 4/5; }
input[name="date_requests_end"]     { grid-column: 6; grid-row: 5/6; }

label[name="date_baremation"]       { grid-column: 6; grid-row: 7/8; }
input[name="date_baremation"]       { grid-column: 6; grid-row: 8/9; }

label[name="date_definitive_lists"] { grid-column: 6; grid-row: 10/11; }
input[name="date_definitive_lists"] { grid-column: 6; grid-row: 11/12; }

input[type="submit"]                { grid-area: 14 / 6 / 15 / 7; }





/*#############################################################################################################################*/
/*#################################################### BUTTONS ################################################################*/
/*#############################################################################################################################*/
.btn {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em;
    cursor: pointer;
}
/* ICONS */
.btnCreate {
    background-image: url('../../../src/icons/create.svg');
}
.btnCreate:hover {
    background-image: url('../../../src/icons/create-hover.svg');
}

.btnUpdate {
    background-image: url('../../../src/icons/pencil.svg');
}
.btnUpdate:hover {
    background-image: url('../../../src/icons/pencil-hover.svg');
}

.btnDelete {
    background-image: url('../../../src/icons/trash.svg');
}
.btnDelete:hover {
    background-image: url('../../../src/icons/trash-hover.svg');
}
.btnSubmit {
    background-color: green;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
}
.btnSubmit:hover {
    background-color: rgb(41, 158, 41);
}



/*#############################################################################################################################*/
/*#################################################### ANIMATION ##############################################################*/
/*#############################################################################################################################*/
/* TODO preguntar*/
#visualizador {
    animation: zoom 0.2s;
}
@keyframes zoom {
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
