
/* 3 BOTONES SUPERIORES */
#topButton-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  #topButton-container button {
    grid-row: 1/2;
  }
  #topButton-container .inputError {
    grid-row: 2/3;
  }

/* FORMULARIO PRINCIPAL */
form>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto) 2.5em repeat(2, auto) 2.5em repeat(2, auto) repeat(2, 2.5em) auto;
    /* grid-template-rows: repeat(4, repeat(2, auto) 2.5em); */
    column-gap: 1em;
}
form label, form input {
  grid-column: 1/3;
}


/* 1º Formulario Identificación */
label[for="name"]   { grid-area: 1 / 1 / 2 / 2; }
input[name="name"]  { grid-area: 2 / 1 / 3 / 2; }
#nameError          { grid-area: 3 / 1 / 4 / 2; }

label[for="surname"]  { grid-area: 1 / 2 / 2 / 3; }
input[name="surname"] { grid-area: 2 / 2 / 3 / 3; }
#surnameError         { grid-area: 3 / 2 / 4 / 3; }

#lblDni     { grid-area: 4 / 1 / 5 / 2; }
#dni        { grid-area: 5 / 1 / 6 / 2; }
#dniError   { grid-area: 6 / 1 / 7 / 2; }

label[for="birthdate"]  { grid-area: 4 / 2 / 5 / 3; }
input[name="birthdate"] { grid-area: 5 / 2 / 6 / 3; }
#birthdateError         { grid-area: 6 / 2 / 7 / 3; }

label[for="group"]  { grid-area: 7 / 1 / 8 / 3; }
select[name="group"]{ grid-area: 8 / 1 / 9 / 3; }
#groupError         { grid-area: 9 / 1 / 10 / 3; }

label[for="photo"]          { grid-area: 10 / 1 / 11 / 3; }
/* div[name="photo"]           { grid-area: 11 / 1 / 12 / 2; } */
input[name="file[photo]"]   { grid-area: 11 / 1 / 12 / 3; }
#photoError                 { grid-area: 12 / 1 / 13 / 3; }
/* div[name="icon-lupa"] { grid-area: 11 / 2 / 12 / 3; } */

#ideSiguiente { grid-area: 17 / 1 / 18 / 3; }



/* 2º Formulario Contacto */


/* 3º Formulario Subir archivos */
#uploadFiles { flex-direction: column; }
#uploadFiles > div {
  display: flex;
  column-gap: 1em
}
/* #btnOtrosAnterior   { grid-area: auto / 1 / auto / 2; }
#btnOtrosEnviar     { grid-area: auto / 2 / auto / 3; } */