
/* 3 BOTONES SUPERIORES */
#topButton-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  #topButton-container button {
    grid-row: 1/2;
  }
  #topButton-container .inputError {
    grid-row: 2/3;
  }

/* FORMULARIO PRINCIPAL */
form>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto) 2.5em repeat(2, auto) 2.5em repeat(2, auto) 2.5em auto;
    column-gap: 1em;
}
form label, form input {
  grid-column: 1/3;
}


/* 1º Formulario Identificación */
label[for="name"]   { grid-area: 1 / 1 / 2 / 2; }
input[name="name"]  { grid-area: 2 / 1 / 3 / 2; }
#nameError          { grid-area: 3 / 1 / 4 / 2; }

label[for="surname"]  { grid-area: 1 / 2 / 2 / 3; }
input[name="surname"] { grid-area: 2 / 2 / 3 / 3; }
#surnameError         { grid-area: 3 / 3 / 4 / 3; }

#lblDni     { grid-area: 4 / 1 / 5 / 2; }
#dni        { grid-area: 5 / 1 / 6 / 2; }
#dniError   { grid-area: 6 / 1 / 7 / 2; }

label[for="birthdate"]  { grid-area: 4 / 2 / 5 / 3; }
input[name="birthdate"] { grid-area: 5 / 2 / 6 / 3; }
#birthdateError         { grid-area: 6 / 3 / 7 / 3; }

#ideSiguiente { grid-column: 1/3; }



/* 2º Formulario Domicilio */
#domiAnterior, .provincia {
  grid-column: 1/2;
}
#domiSiguiente, .localidad {
  grid-column: 2/3;
}


/* 3º Formulario Otros *//*
#otros>label, #otros>input {
  grid-column: 1/2;
}*/
#grpCBIntereses {
  grid-column: 1/3;

  display: flex;
  justify-content: space-around;
}
#interesesError {
  grid-column: 1/3;
}
#grpCBIntereses>div {
  display: flex;
  align-items: baseline;
}
